# ignore the python virtual environment
.venv

# ignore the docs LaTeX artifacts
docs/*.log
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.out

# ignore the output aritfacts from the attacks
src/containers_setup/attacks/*.log
src/container_setup/attacks/tee

# ignore the python artifacts from ml_detector and espoofer
*.pyc
